:root {
    --dark: #16191C;
    --dark-x: #1E2126; 
    --light: #ffffff;
    --lightmd: #9b9b9b;
    --rosa: #d63384;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.text-light { color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.btn-rosa { background: #d63384 !important; }

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}

.form-control::placeholder{
    color: var(--lightmd);
}

.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

